$font: 'Futura';
body{
    font-family: $font;
    background: #ECF2F6;
}
.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
    min-width: 100%;

}
[class*="__container"]{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.banner {
    &__container {
        padding-top: 43px;
        position: relative;
        padding-bottom: 37px;
    }
    &__logo{
        max-width: 308px;
        max-height: 68px;
    }
    &__subtitle {
        font-size: 40px;
        font-weight: 300;
        text-align: center;
        line-height: 1.27;
        color: #16171B;
        &_bold{
            font-size: 30px;
            font-weight: 450;
            margin-bottom: 57px;
        }
        @media(max-width: 608px){
            font-size: 20px;
            line-height: 26px;
        }
    }
    &__mouseIcon{
        text-align: center;
        @media(max-width: 848px){
            display: none;
        }
    }
    &-logos {
        display: flex;
        justify-content: space-between;
        @media(max-width: 608px){
            margin-bottom: 81px;
        }
    }
    &-signUp {
        position: relative; 
        min-width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 170px;
        @media(max-width: 1752px){
            flex-direction: column;
            align-items: center;
            text-align: center;
            .banner__img{
                position: static;
                min-width:auto;
            }
        }
        @media(max-width: 1000px){
            margin-bottom: 70px;
        }
        @media(max-width: 848px){
            margin: 0;
        }
    }
    &__img{
        position: absolute;
        z-index: -1;
        top: -132px;
        left: 585px;
        min-width: 1047px;
        -webkit-transform: translateX(120px);
        transform: translateX(120px);
    }
    &__line{
        position: absolute;
        z-index: -1;
        width: 1206.66px;
        height: 296.38px;
        left: -450px;
        top: 622px;
    }
}
.signUp{
    &-info{
        max-width: 693px;
    }
    &__subtitle {
        font-weight: 400;
        font-size: 30px;
        line-height: 2;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #16171B;
        @media(max-width: 608px){
            font-size: 20px;
            line-height: 100%;
        }
    }
    &__title {
        font-weight: 450;
        font-size: 80px;
        line-height: 1;
        color: #16171B;
        transform: translate(0, 120px);
        span{
            display: inline-block;
            background: linear-gradient(95.98deg, #A169F7 1.6%, #00AAFF 24.24%, #FF6163 50.71%, #97CF26 68.48%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
        @media(max-width: 608px){
            font-size: 40px;
            line-height: 100%;
        }
    }
    &__text {
        font-size: 30px;
        line-height: 1.27;
        color: #16171B;
        margin-bottom: 29px;
        transform: translateY(100px);
        &.element-animation.element-show{
            transition-delay: 1s;
        }
        @media(max-width: 608px){
            font-size: 16px;
            line-height: 21px/16px*100%;
        }
    }
    &__link{
        display: inline-block;
        padding: 20px 25px;
        font-size: 24px;
        line-height: 31px/24px*100%;
        text-align: center;
        color: #FFFFFF;
        background: #5956E9;
        border-radius: 21px;
        box-shadow: rgb(89 86 233 / 50%) 0 19px 48px;
        transition: 0.3s;
        &:hover{
        background: #3734c5;
        box-shadow: rgb(89 86 233) 0 19px 48px;
        }
    }
}
.banner-wrap{
    display: flex;
}
.decor__item{
    position: absolute;
    top: 0;
    z-index: -1;
    &_blue{
        right: -100px;
    }
    &_red{
        right: -392px;
    }
    &_green{
        top: 250px;
        right: -392px;
    }
}
// ********************************************************************
.adv {
    &__container {
        padding-left: 77px;

        padding-top: 93px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media(max-width: 1000px){
            padding-left: 15px;
        }
    }
    &-try {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 737px;
        background-color: #27272e;
        padding: 21px 0px;
        border-radius: 170px;
        margin-bottom: 130px;
        &::before{
                content: "";
                position: absolute;
                top: -11px;
                bottom: -11px;
                left: -11px;
                right: -11px;
                background: linear-gradient(270deg,#97CF26, #A169F7, #FF6163, #0FA6F7);
                border-radius: inherit;
                z-index: -1; 
                box-shadow: 0 30px 47px rgba(40, 40, 47, 0.3);
        }
        @media(max-width: 848px){
            &::before{
                display: none;
            }
            max-width: 80%;
            padding: 18px 0;
            justify-content: space-around;
        }
        @media(max-width: 768px){
            margin-bottom: 50px;
        }
        @media(max-width: 425px){
            max-width: 320px;
            padding: 9px 0;
        }
    }
    .try{
        &-info {
            margin-left: 71px;
            margin-right: 32px;
        }
        &__title {
            color: #FAB8C4;
            font-weight: 450;
            font-size: 57.17px;
            line-height: 83px/57.17px*100%;
            text-align: center;
        }
        &__img {
            max-width: 192px;
            max-height: 192px;
        }
        &__text {
            color: #FFF;
            font-weight: 400;
            font-size: 35.73px;
            line-height: 51.17px/35.73px*100%;
            text-align: center;
        }
        &__link{
            z-index: 10;
            position: absolute;
            width: 103%;
            height: 110%;
            border-radius: inherit;
        }
        @media(max-width: 848px){
            &-info {
                margin: 0;
            }
            &__title {
                font-size: 45px;
            }
            &__text {
                font-size: 28px;
            }
            &__img {
                max-width: 30%;
                max-height: 30%;
            }
        }
        @media(max-width: 696px){
            &__title {
                font-size: 40px;
            }
            &__text {
                font-size: 20px;
            }
        }
        @media(max-width: 580px){
            &__title {
                font-size: 35px;
            }
            &__text {
                font-size: 18px;
            }
            &__img {
                max-width: 30%;
                max-height: 30%;
            }
        }
        @media(max-width: 425px){
            &__title {
                font-size: 25px;
            }
            &__text {
                font-size: 16px;
            }
            &__img {
                max-width: 83px;
                max-height: 83px;
            }
        }
    }
}
.dotted-line__decor{
    position: absolute;
    top: 185px;
    z-index: -2;
    @media(max-width: 1052px){
        display: none;
    }
}
.body {
    position: relative;
    margin-bottom: 165px;
    width: 100%;
    padding: 0px 20px;
    &-decor{
        position: absolute;
    }
    &__title {
        font-weight: 600;
        font-size: 72px;
        line-height: 1;
        text-align: center;
        color: #27272E;
        margin-bottom: 62px;
        @media(max-width: 768px){
            font-size: 56px;
        }
        @media(max-width: 484px){
            font-size: 36px;
        }
    }
    @media(max-width: 1081px){
        margin-bottom: 90px;
    }
}
.adv{
    &-item {
        margin-right: 200px;
        &_back{
            margin: 0;
        }
        &__img, &__img_front{
            transform: translateX(100px);
            &.element-animation.element-show{
                transition-delay: .5s;
            }
        }
        &__img_front{
            transform: translateX(-100px);
            margin-right: 200px;
        }
        &-wrapper{
            display: flex;
            align-items: center;
            margin-bottom: 111px;
        }
    }
    &__title {
        font-weight: 450;
        font-size: 64px;
        line-height: 82px/64px*100%;
        color: #16171B;
        & span{
            display: inline-block;
            position: relative;
        }
        &_small{
            max-width: 420px;
            margin-bottom: 37px;
        }
        &_free{
            position: absolute;
            top: 85%;
            right: -40%;
            font-weight: 400;
            font-size: 24px;
            line-height: 31px/24px*100%;
            color: #16171B;
            text-transform: uppercase;
            padding: 3px 5px 5px 9px;
            background: linear-gradient(96.03deg, #4CD7AD 18.67%, #17FF2F 109.14%);
            border-radius: 25px;
            max-width: 147px;
            @media(max-width: 1052px){
                font-size: 12px;
            }
        }
    }
    &__subtitle {
        font-weight: 300;
        font-size: 32px;
        line-height: 41px/32px*100%;
        color: #16171B;
        margin-bottom: 28px;
    }
    &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 31px/24px*100%;
        color: #16171B;
        max-width: 484px;
    }
    @media(max-width: 1052px){
        &-item{
            margin: 0;
            &-wrapper{
                flex-direction: column;
                align-items: start;
                margin: 0;
                margin-bottom: 15px;
            }
            &-wrapper_reversed{
                flex-direction: column-reverse;
            }
            &__img, &__img_front{
                align-self: center;
                margin: 0;
                margin-bottom: 30px;
                max-width: 162px;
            }

        }
        &__title {
            font-size: 40px;
        }
        &__text {
            font-size: 16px;
        }
    }
}
.item{
    &_red{
        top: 407px;
        right: -69px;
    }
    &_blue{
        top: 1015px;
        left: -308px;
    }
    &_line{
        top: 1340px;
        right: -452px;
    }
    &_green{
        top: 2108px;
        right: -291px;
    }
}
.card {
    transition: .3s;
    text-align: center;
    z-index: 10;
    max-width: 372px;
    padding: 54px 14px 36px 37px;
    background: #27272E;
    border-radius: 28px;
    margin-bottom: 70px;
    &__price {
        & span{
        display: block;
        font-weight: 450;
        font-size: 64px;
        line-height: 82px;
        text-align: center;
        color: #FAB8C4;
        &::after{
            content: '₽';
        }
    }
    
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
    }
    &__description {
        font-weight: 300;
        font-size: 20px;
        line-height: 26px;
        color: #ABABAB;
    }
    &:hover{
        background: #5956E9;
        span{
            color: #fff;
        }
        .card__description{
            color: #fff;
        }
    }
}
.price {
    position: relative;
    min-width: 1622px;
    overflow: hidden;
    margin: 0 auto;
    background: #D8E1E8;
    border-radius: 144px;
    text-align: center;
    padding-top: 67px;
    padding-bottom: 53px;
    margin-bottom: 155px;
    &__title {
        font-weight: 600;
        font-size: 72px;
        line-height: 100%;
        color: #27272E;
        margin-bottom: 62px;
        z-index: 1;
    }
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__decor{
        position: absolute;
        &:first-child{
            top: 0;
            right: 0;
        }
        &:nth-child(2){
            left: 0;
            bottom: 0;
        }
    }
    &-consult {
        font-weight: 450;
        font-size: 48px;
        line-height: 100%;
        text-align: center;
        color: #27272E;
        z-index: 1;
        & span{
            margin-top: 15px;
            display: block;
            font-weight: 450;
            font-size: 54.4954px;
            line-height: 150%;
            text-align: center;
            color: #5956E9;
        }
    }
    @media(max-width: 1622px){
        display: flex;
        flex-direction: column;
        min-width: 90%;
        border-radius: 20px;
        &__container{
            flex-direction: column;
            margin: 0 auto;
        }
        &__decor:first-child{
            max-width: 343px;
            max-height: 294px;
        }
        &__decor:nth-child(2){
            bottom: -32px;
            left: -54px;
        }
        .card{
            margin-bottom: 13px;
        }
    }
    @media(max-width: 480px){
        max-width: 318px;
        &__title{
            margin-bottom: 13px;
            font-size: 36px;
        }
        .card{
            max-width: 220px;
            padding: 32px 8px 21px 22px;
                &__price {
                    & span{
                    font-weight: 450;
                    font-size: 38px;
                    line-height: 49px/38px*100%;
                    text-align: center;
                    color: #FAB8C4;
                        &::after{
                            content: '₽';
                        }
                    }
                }
                &__description {
                    font-size: 12px;
                    line-height: 15px/12px*100%;
                }
            font-weight: 400;
            font-size: 21px;
            line-height: 27px/21px*100%;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 12px;
        }
        &-consult{
            font-size: 24px;
            line-height: 100%;
            & span{
                font-size: 36px;
                line-height: 150%;
            }
        }
    }
}
.promo{
    &__container{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    &-form {
        max-width: 519px;
        text-align: left;
        padding: 40px 50px 60px 50px;
        background: #FFFFFF;
        border-radius: 27px;
        margin-bottom: 275px;
        label{
            font-weight: 400;
            font-size: 24px;
            line-height: 31px;
            color: #16171B;
            margin-bottom: 8px;
            &:last-child{
                font-weight: 300;
                font-size: 16px;
                line-height: 21px/16px*100%;
                color: #16171B;
            }
        }
        input{
            &[type="text"], 
            &[type="number"]{
                text-transform: capitalize;
                font-size: 20px;
                border: 1px solid #D6E0E7;
                border-radius: 15px;
                padding: 15px 24px;
                width: 100%;
                margin-bottom: 14px;
            }
            &[type="number"]{
                margin-bottom: 25px;
            }
            &[type="submit"]{
                background: #5956E9;
                transition: .3s all;
                border-radius: 21px;
                width: 100%;
                padding: 15px 32px;
                font-size: 24px;
                line-height: 31px/24px*100%;
                color: #fff;
                &:hover{
                background: #3734c5;

                }
            }
        }
        &-wrapper{
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }
    }
        &-tip {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 569px;
            &.element-animation.element-show{
                transition-delay: 1.5s;
            }
        &__icon {
            display: block;
            text-align: center;
            background: #00AAFF;
            height: 100px;
            width: 100px;
            padding: 30px;
            padding-top: 13px;
            font-size: 64px;
            line-height: 82px/64px*100%;
            font-weight: 600;
            color: #fff;
            border-radius: 50%;
            margin-bottom: 17px;
        }
        &__text {
            font-weight: 400;
            font-size: 30px;
            line-height: 38px;
            text-align: center;
            color: #16171B;
        }
    }
    &__title{
        font-weight: 450;
        font-size: 64px;
        line-height: 100%;
        text-align: center;
        color: #16171B;
        margin-bottom: 80px;
        &.element-animation.element-show{
            transition-delay: 1s;
        }
    }
    &__subtitle{
        margin-bottom: 43px;
    }
    &-decor__item{
        position: absolute;
        z-index: -1;
        &_char{
            right: -148px;
            bottom: -53px;
            max-width: 644px;
            max-height: 743px;
            z-index: 0;
        }
        &_white{
            right: -375px;
            bottom: 0;
        }
        &_green{
            bottom: 0;
            left: -74px;
        }
        &_red{
            bottom: 460px;
            left: -24px;
            max-width: 340px;
            max-height: 340px;
        }
        &_purple{
            bottom: 0;
            left: -375px;
        }
        &_blue{
            left: -375px;
            bottom: 410px;
        }
    }
    @media(max-width: 1081px){
        &-form-wrapper{
            flex-direction: column-reverse;
            align-items: center;
        }
        &-tip{
            margin-bottom: 36px;
        }
        &-form{
            margin-bottom: 62px;
        }
        &-decor__item_char{
            max-width:394px;
            left: 50%;
            transform: translateX(-50%);
            bottom: -30px;
        }
    }
    @media(max-width: 768px){
        &__subtitle{
            font-size: 30px;
        }
        &__title{
            font-size: 40px;
            margin-bottom: 40px;
        }
        &-tip__text{
            font-size: 18px;
        }
    }
}
.form__title{
    align-self: center;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    color: #16171B;
    margin-bottom: 34px;
}
.checkbox{
    &-custom{
        position: absolute;
        z-index: -1;
        opacity: 0;
        &+label{
            user-select: none;
            display: inline-flex;
            align-items: center;
            margin-bottom: 30px;
            &::before{
                content: '';
                display: inline-block;
                min-width: 25px;
                height: 25px;
                background: #FFFFFF;
                border: 2px solid #D6E0E6;
                border-radius: 7px;
                margin-right: 17px;
            }
        }
        &:checked+label::before{
            border-color: #5956E9;
            background: url(../img/icons/check.svg) center no-repeat;
            background-color: #5956E9;
        }
    }
}
.footer{
    &-link{
        margin-left: 110px;
        max-width: 308px;
        margin-bottom: 130px;
        @media(max-width: 1081px){
            margin: 0 auto;
            max-width: none;
            margin-bottom: 450px;
        }
    }
}
.element-animation{
    opacity: 0;
    transition: .8s;
    &.element-show{
        transform: translate(0, 0);
        opacity: 1;
    }
}